.signIn{
    border: 0;
    outline: 0;
    background-color: red;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    color: white;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 0;
    width: auto;
    height: 52px;

    font-size: 0.875rem;
    font-weight: 500;
    min-height: 2rem;
    padding: 0.25rem 1rem;
}
.netflixLogo{
  
    margin-left: 8rem;
  }
  .nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  .hRight{
    margin-right: 11rem;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
  }

